workflow/My workflow 17696.json
{
  "name": "My workflow 17696",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "12GYzWGB-suKtRx6nsZ8D2J3qSpxf7eGQGtrg5IKl0Gs",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12GYzWGB-suKtRx6nsZ8D2J3qSpxf7eGQGtrg5IKl0Gs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12GYzWGB-suKtRx6nsZ8D2J3qSpxf7eGQGtrg5IKl0Gs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c33a104b-f217-4d79-806d-4ef0957fd149",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "xCbeOLWL4nwF9on0",
          "name": "Google Sheets Trigger account 4266"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this article:  {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "bb3151e5-6160-4b84-8b21-2e47c5a9c70e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "f7d23a95-574b-43ec-8ba0-ba1f8880042c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7bGkQPgDpbxWgjND",
          "name": "Google Gemini(PaLM) Api account 10678"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a Linkedin post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current ind trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since Linkedin supports detailed posts, ensure it is informative and structured. Include a professional call to action. Here's a summary of the article:   {{ $json.text}}.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        544,
        -224
      ],
      "id": "a71a2161-2fce-4f4e-95c0-b0c2f78f0b09",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        544,
        -32
      ],
      "id": "543ffea8-ddce-4d32-b70e-e8e7fcacf0fd",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7bGkQPgDpbxWgjND",
          "name": "Google Gemini(PaLM) Api account 10678"
        }
      }
    },
    {
      "parameters": {
        "person": "0vltC9G5M-",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        864,
        -224
      ],
      "id": "ce533918-57df-4e3d-9de8-69114e00d55e",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "A1cdS6280msikdxW",
          "name": "LinkedIn account 3121"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft an X post as an Al industry expert analyzing a key news article. The post should:\nOpen Workflow\nA\nDeliver sharp insights on the article's main points\nConnect to current Al trends\nSpark discussion with a thought-provoking question\nBe punchy and engaging\nEnd with a clear call to action\nLength: Within 30 words\nFocus: What matters most to the Al community. Make every word count.\nArticle summary: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        512,
        208
      ],
      "id": "9e77fd20-b094-4772-9790-931473cd2eba",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        512,
        416
      ],
      "id": "be2c68cc-3d40-4d74-8247-697a806feaeb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "7bGkQPgDpbxWgjND",
          "name": "Google Gemini(PaLM) Api account 10678"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        864,
        208
      ],
      "id": "4ad17d31-8403-43ba-9e59-bd556d0aa271",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "bgNylEMNCl4b25kL",
          "name": "X account 1368"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b3a89698-d6a7-44a1-b435-1df327dcf5af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "R8PIx6lrY9XsmCAn",
  "tags": []
}